[submodule "glfw"]
path = libs/glfw
url = https://github.com/Myonmu/glfw
[submodule "glm"]
path = libs/glm
url = https://github.com/Myonmu/glm
[submodule "libs/SPIRV-Cross"]
	path = libs/SPIRV-Cross
	url = https://github.com/Myonmu/SPIRV-Cross
[submodule "libs/shaderc"]
	path = libs/shaderc
	url = https://github.com/Myonmu/shaderc
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/Myonmu/fmt